.btn-right{
    position: relative;
    top: 40px;
    right: 65px
}

.btn-down{
    position: relative;
    top: 83px;
    right: 60px;
}

.btn-left{
    position: relative;
    top: 40px;
    
}

.box{
    /* position: relative; */
    height: 50px;
    width: 50px;
    background: darkblue;
}

.box-container{
    /* position: relative; */
    height: 800px;
}