.body{
    margin: 0;
    padding: 0;
}

#menu{
    margin: 0;
    padding: 0;
    background-color: rgb(51, 53, 63);
    display: flex;
    justify-content: space-around;
}

#menu li{
    list-style: none;
    display: inline-block;
}

#menu li a{
    text-decoration: none;
    position: relative;

    color: white;
    font-size: 10px;
    font-weight: 10px;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 10px;
    text-transform: uppercase;
}

#menu li a:before{
    content: '';
    width: 60px;
    position:absolute;
    border-bottom: 2px solid white;
    bottom: 0;
    right: 350px;
    transition: 0.7s all;
}

#menu li a:hover:before{
    right: 0;

}

.topRedLine{
    width: 100%;
    height: 80px;
    background-color: red;
    
}

.redInnerLine{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redLineRightBoxes{
    display: flex;
    margin-right: 200px;
}



.logo{
    margin-left: 280px;
    width: 285px;
    height: 41px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 78px;
    border: 1px solid black;
    margin-right: 20px;
}

.searchBox{
    
    width: 600px;
    height: 41px;
    
    display: flex;
}

.searchBox input{
    width: 600px;
    height: 41px;
}

.topBlueLine{
    width: 100%;
    height: 40px;
    background-color: rgb(43, 125, 247);
    
}

.blueLineText{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainBlock{
    width: 1230px;
    height: 2600px;
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.topBlock{
    width: 100%;
    height: 716px;
    
    display: flex;
    justify-content: space-between;
}

.leftColumn{
    width: 230px;
    height: 716px;
    border: 1px solid red;

}

.middleColumn{
    width: 980px;
    height: 715px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider{
    width: 980px;
    height: 560px;
    
    display: flex;
    
    justify-content: space-between ;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box01{
    width: 722px;
    height: 390px;
    border: 1px solid red;
}

.box02{
    width: 720px;
    height: 154px;
    border: 1px solid red;
}

.dailyOffer{
    width: 241px;
    height: 560px;
    border: 1px solid red;
    display: flex;
    justify-content: center;

}

.bottomAdvertisement{
    margin:0;
    width: 980px;
    height: 144px;
    
    display: flex;
    justify-content: space-between;
}

.adv{
    width: 482px;
    height: 143px;
    border: 1px solid red;
}

.dailyDiscount{
    width: 1230px;
    height: 1890px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}



.row01{
    width: 1230px;
    height: 600px;
    border: 1px solid red;
}

.row02{
    width: 1230px;
    height: 600px;
    border: 1px solid red;
}

.row03{
    width: 1230px;
    height: 600px;
    border: 1px solid red;
}

.row01 h1{
    margin: 20px;
}

.row02 h1{
    margin: 20px;
}

.row03 h1{
    margin: 20px;
}

.bottomBlock{
    width: 100%;
    height: 720px;
    
    display: flex;
    flex-direction: column;
    
}

.kontaktTV{
    width: 100%;
    margin-top: 40px;
    padding: 20px 0px;
    height: 313px;
    background-color: rgb(51, 53, 63);
    display: flex;
    color: white;
    justify-content: center;
}

.partners{
    width: 100%;
    height: 211px;
    margin-top: 50px;
    display: flex;
    border: 1px solid black;
}

.partners h2{
    margin: 0 auto;
}

.about{
    width: 97%;
    padding: 30px;
    height: 346px;
    background-color: rgb(51, 53, 63);
    display: flex;
    justify-content: center;
    color: seashell;
}

