#navbar{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.instaLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchcol{
    display: flex;
    
    
    

}

.searchLogo{
    position: absolute;
    padding-left: 10px;
    padding-top:8px ;
    color: gray;
    font-size: smaller;
}

.srch{
    width: 250px;
    height: 30px;
    padding-left: 30px;
    border: none;
    border: 1px solid lightgray !important;
    border-radius: 3px;
}

.icons{
    display: flex;
    
    
    font-size: 25px;
}

.icn{
    padding-left: 10px;
}

#main{
    display: flex;
    border: 1px solid lightgray;
    padding-top: 30px;
}

.share{
    margin-right: 30px;
}

.common{
    display: flex;
}

.story{
    width: 615px;
    height: 100px;
    border:1px solid lightgray;
    padding: 20px 0px;
    margin-left:150px;
    margin-bottom: 30px;

}

.post{
    width: 615px;
    display: flex;
    flex-direction: column;
    margin-left:  150px;
    border: 1px solid lightgray;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.post-header{
    width: 100%;
    
    
    padding: 15px;
}

.post-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image-name{
    display: flex;
    align-items: center;
}

.post-header img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pg-name{
    
    padding-left: 15px;
}

.point-class strong {
    padding-bottom: 15px;
    font-size: larger
}

.post-image img{
    width: 613px;
    object-fit: cover;
}

.post-comment{
    display: flex;
    justify-content: space-between;
}

.post-icons{
    font-size: 25px;
    display: flex;
}

.icn{
    padding: 0px 15px
}

.bookmark-icon{
    font-size: 25px;
    padding-right: 15px;
}

.story{
    display: flex;
    flex-direction: column;
    
    padding:15px;
}

.story01{
    display: flex;
}

.story02 span{
    padding-bottom: 10px;
    padding-left: 8px;
    font-size: smaller;
}

.story-img{
    padding-right: 10px;
}

.story img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid palevioletred;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px ;
}

.prof-pic-name{
    display: flex;
    align-items: center;
}

.profile img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile strong{
    width: 170px;
    margin-left: 10px;
}

.profile span{
    color: rgb(0, 162, 255);
}

.sug-top{
    display: flex;
    justify-content: space-between;

    padding-bottom: 30px;
}

.sug-top span{
    color: lightgray;
}

.sug-top strong{
    color: gray;
    
}

.sug-mid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.sug-prof-name{
    display: flex;
    align-items: center;
}

.sug-mid img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
}

.sug-mid strong{
    
    margin-left: 10px;
}

.sug-mid span{
    color:rgb(0, 162, 255);
}

.about p{
    color: lightgray;
    font-size: smaller;
    line-height: 15px;
}