.slider{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.slider img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#control{

    position: absolute;
    right: 0;
    bottom:10px;
}

#control a{
    

    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
}