.bday{
    width: 100%;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    
}

.bday-container{
    height: 1000px;
}

.bday p{
    color: white;
    font-size: 20px;
}

.bday h2{
    color: gold;
    
}